<ion-modal-view id="wallet-balance">
  <ion-header-bar
    align-title="center"
    ng-class="{'wallet-background-color-default': !wallet.color}"
    ng-style="{'background-color': wallet.color}"
  >
    <button class="button button-clear" ng-click="close()" translate>
      Close
    </button>
    <div class="title">Masternode Detail:</div>
  </ion-header-bar>
  <ion-content>

      <div class="wallet-balance__list list card">
          <div class="wallet-balance__item item">
            <!--
              <img class="wallet-balance__icon" src="img/icon-sigma.svg" height="18" width="18"\>
            -->
            <div style="word-wrap: break-word"  class="wallet-balance__content no-border" copy-to-clipboard="masternode.vin">
              <div class="wallet-balance__title" translate><span style="font-weight:bold;">VIN:</span>
              <span class="item-note text-right wallet-balance__amount">
                <span class="wallet-balance__amount wallet-balance__amount--total wallet-balance__amount--available">
                    {{ masternode.vin }}
                </span>
              </span>
            </div>
            </div>
          </div>
        </div>

    <div class="wallet-balance__list list card">
      <div class="wallet-balance__item item">
        <!--
          <img class="wallet-balance__icon" src="img/icon-sigma.svg" height="18" width="18"\>
        -->
        <div class="wallet-balance__content no-border" copy-to-clipboard="masternode.payee">
          <div class="wallet-balance__title" translate><span style="font-weight:bold;">Payee:</span>
          <span class="item-note text-right wallet-balance__amount">
            <span class="wallet-balance__amount wallet-balance__amount--total wallet-balance__amount--available">
              {{ masternode.payee }}
            </span>
          </span>
        </div>
        </div>
      </div>
    </div>

    <div class="wallet-balance__list list card">
      <div class="wallet-balance__item item">
        <!--
          <img class="wallet-balance__icon" src="img/icon-confirming-clear.svg" width="18"\>
        -->
        <div class="wallet-balance__content no-border" copy-to-clipboard="masternode.status">
          <div class="wallet-balance__title" translate><span style="font-weight:bold;">Status:</div></span>
          <span class="item-note text-right wallet-balance__amount">
            <span class="wallet-balance__amount wallet-balance__amount--total wallet-balance__amount--available">
              {{ masternode.status }}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="wallet-balance__list list card">
      <div class="wallet-balance__item item">
        <!--
          <i class="wallet-balance__icon icon ion-ios-checkmark-outline"></i>
        -->
        <div class="wallet-balance__content no-border" copy-to-clipboard="masternode.ip">
          <div class="wallet-balance__title" translate><span style="font-weight:bold;">Node IP:</span></div>
          <span class="item-note text-right wallet-balance__amount">
            <span class="wallet-balance__amount wallet-balance__amount--total wallet-balance__amount--available">
              {{ masternode.ip }}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="wallet-balance__list list card">
      <div class="wallet-balance__item item">
        <!--
          <img class="wallet-balance__icon" src="img/icon-sigma.svg" height="18" width="18"\>
        -->
        <div class="wallet-balance__content no-border" copy-to-clipboard="masternode.activeseconds">
          <div class="wallet-balance__title" translate><span style="font-weight:bold;">Active Seconds:</span></div>
          <span class="item-note text-right wallet-balance__amount">
            <span class="wallet-balance__amount wallet-balance__amount--total wallet-balance__amount--available">
              {{ masternode.activeseconds }}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="wallet-balance__list list card">
      <div class="wallet-balance__item item">
        <!--
          <img class="wallet-balance__icon" src="img/icon-confirming-clear.svg" width="18"\>
        -->
        <div class="wallet-balance__content no-border" copy-to-clipboard="masternode.lastseen">
          <div class="wallet-balance__title" translate><span style="font-weight:bold;">Last Seen:</span></div>
          <span class="item-note text-right wallet-balance__amount">
            <span class="wallet-balance__amount wallet-balance__amount--total wallet-balance__amount--available">
              {{ masternode.lastseen }}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="wallet-balance__list list card">
      <div class="wallet-balance__item item">
        <!--
          <img class="wallet-balance__icon" src="img/icon-confirming-clear.svg" width="18"\>
        -->
        <div class="wallet-balance__content no-border" copy-to-clipboard="masternode.protocol">
          <div class="wallet-balance__title" translate><span style="font-weight:bold;">Protocol:</span></div>
          <span class="item-note text-right wallet-balance__amount">
            <span class="wallet-balance__amount wallet-balance__amount--total wallet-balance__amount--available">
              {{ masternode.protocol }}
            </span>
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
